.call-container{
  background-color: var(--accent-yellow);
  min-height: 360px;
  height: 360px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.call-container h2{
  font-size: 48px;
  font-weight: 500;
}

.call-subtitle{
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 32px;
}


.call-container-nocontent{
  background-color: var(--neutral-grey-light);
  min-height: 360px;
  height: 360px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.call-subtitle-nocontent{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .call-text h2 {
    font-size: 24px; /* Tamaño de fuente más pequeño en móviles */
    margin-bottom: 12px;
  }

  .call-text .call-subtitle {
    font-size: 14px; /* Tamaño de subtítulo más pequeño en móviles */
    margin-bottom: 16px;
  }

  .button-large-blue {
    font-size: 14px; /* Tamaño de texto del botón más pequeño en móviles */
    padding: 10px 14px;
    width: 160px; /* Ajuste del ancho del botón en móviles */
  }
}