.card-user {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  flex: 1 1 calc(25% - 20px); /* 4 tarjetas por fila, restando el gap */
  max-width: calc(25% - 20px); /* Limitar el ancho a 25% */
  min-width: 324.75px; /* Limitar el tamaño mínimo de las tarjetas para evitar que se encojan */
  height: 280px;
  background-color: var(--neutral-grey-extralight);
  box-sizing: border-box; /* Asegurar que el padding y el borde no afecten el ancho */
}

.card-user-image {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
}

.card-user-details {
  margin-top: 12px;
}

.card-user-username {
  font-size: 18px;
  font-weight: bold;
}

.card-user-bio {
  font-style: italic;
  color: var(--primary-blue-mid);
  font-weight: 300;
  margin-top: 4px;
  line-height: 1.2;

  /* Propiedades para elipsis en 3 líneas */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limitar a 3 líneas con prefijo */
  line-clamp: 3; /* Propiedad estándar para compatibilidad */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-user-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Espacio entre las chips */
  margin-top: 12px;
  max-height: calc(2 * 24px + 8px); /* Limitar a 2 filas de tags, ajustando la altura según las tags (24px es la altura de cada tag + 8px de gap) */
  overflow: hidden; /* Ocultar las tags que no caben en las dos líneas */
  position: relative; /* Si quieres agregar un indicador de overflow como '...' */
}


.chip {
  background-color:#cbced4;
  border-radius: 25px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 500;
  color: var(--primary-blue-mid);
}

.card-user-top {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.button-container {
  margin-top: auto; /* Empuja el botón hacia abajo */
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
  padding-top: 16px; /* Espacio entre el contenido y el botón */
}


/* Responsividad */
@media (max-width: 1024px) {
  .card-user {
    flex: 1 1 calc(50% - 20px); /* 2 tarjetas por fila en pantallas medianas */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card-user {
    flex: 1 1 100%; /* 1 tarjeta por fila en pantallas pequeñas */
    max-width: 100%;
  }
}

