.card-user {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px); 
  min-width: 324.75px;
  height: 280px;
  background-color: var(--neutral-grey-extralight);
  box-sizing: border-box; 
}

.owner-card{
  background-color: red;
}


.card-user-image {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
}

.card-user-details {
  margin-top: 12px;
}

.card-user-username {
  font-size: 18px;
  font-weight: bold;
}

.card-user-bio {
  font-style: italic;
  color: var(--primary-blue-mid);
  font-weight: 300;
  margin-top: 4px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-user-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  max-height: calc(2 * 24px + 8px);
  overflow: hidden; 
  position: relative;
}

.chip {
  background-color:#cbced4;
  border-radius: 25px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 500;
  color: var(--primary-blue-mid);
}

.card-user-top {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.button-container {
  margin-top: auto; 
  display: flex;
  justify-content: flex-end; 
  padding-top: 16px; 
}


@media (max-width: 1024px) {
  .card-user {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card-user {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.card-user-small {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  width: 330px; 
  height: 128px;
  background-color: var(--neutral-grey-extralight);
  box-sizing: border-box; 
}

.details-section{
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-blue-mid);
  margin-top: 32px;
  margin-bottom: 32px;
}

.project-people{
  margin: 0;
}
