.card-pr-container {
  flex: 1 1 400px; 
  max-width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  position: relative; 
}

.card-pr-container-column {
  flex: 1 1 400px; 
  max-width: 32%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  position: relative; 
}

.card-pr-img {
  will-change: transform;
  width: 100%;
  object-fit: cover;
  height: 240px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card-pr-img:hover {
  object-fit: cover;
  transform: scale(1.05);
}

.card-pr-section-img-buttons {
  overflow: hidden;
  border-radius: 10px;
}

.card-pr-section-buttons {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 4px;
}

.card-pr-button {
  background-color: rgba(248, 249, 252, 0.8);
  color: var(--primary-blue-mid);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  gap: 4px;
  font-size: 12px;
}

.card-pr-button img {
  height: 12px;
}

.card-pr-button:hover {
  background-color: rgba(248, 249, 252, 1);
}

.card-pr-section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-pr-title {
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0 16px 0;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: normal; 
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  line-clamp: 2; 
  -webkit-box-orient: vertical; 
  line-height: 1.2em; 
  height: calc(
    1.2em * 2
  ); 
  max-height: calc(1.2em * 2); 
}

.card-pr-category {
  background-color: var(--neutral-grey-light);
  font-size: 12px;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 25px;
}

.card-pr-objective {
  font-weight: 300;
  margin-top: 16px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: normal; 
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  line-clamp: 3; 
  -webkit-box-orient: vertical; 
  line-height: 1.3em; 
  height: calc(
    1.3em * 3
  ); 
  max-height: calc(1.3em * 3);
}

.card-pr-section-profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.card-pr-section-profile p {
  font-size: 12px;
  font-weight: 600;
}

.card-pr-section-profile span {
  color: var(--neutral-grey-dark);
}

.card-pr-profile-img {
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.card-pr-section-properties {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}

.icon-text-element-pr {
  display: flex;
  gap: 8px;
  font-size: 12px;
  align-items: center;
  font-weight: 400;
}

.icon-text-element-pr span {
  color: var(--neutral-grey-dark);
  font-weight: 400;
}

.icon-text-element-pr img {
  height: 16px;
}

@media (max-width: 1024px) {
  .card-pr-container {
    flex: 1 1 45%; 
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .card-pr-container {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}
