
.card-event {
  flex: 1 1 23.5%; 
  max-width: 23.5%; 
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;

}
 
.card-event-content {
  width: 100%;
}

.card-event-image {
  width: 100%;
  height: 460px; 
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 5px; 
  display: block;
}

.card-ev-section-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  z-index: 3; 
}

.card-ev-button {
  background-color: rgba(248, 249, 252, 0.8);
  color: var(--primary-blue-mid);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.card-ev-button img {
  height: 12px;
}

.card-ev-button:hover {
  background-color: rgba(248, 249, 252, 1);

}

.button-small-yellow {
  background-color: #ffc107;
  color: var(--primary-blue-mid);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 15px;
  right: 24px;
  
  z-index: 3; 
}

.button-small-yellow:disabled {
  background-color: #f0f0f0;
  color: #b0b0b0;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 15, 52, 0.9);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1;
}

.card-ev-content-overlay {
  margin: 0;
  margin-top: 48px;
  padding: 0 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box; 
  overflow: hidden;
}

.card-event:hover .card-overlay {
  opacity: 1;
  visibility: visible;
}

.card-ev-section-profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.card-ev-section-profile p {
  font-size: 12px;
  font-weight: 600;
  color: var(--accent-yellow);
}

.card-ev-section-profile span {
  color: var(--neutral-grey-dark);
}

.card-ev-profile-img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 100px;
}

.card-ev-bottom {
  margin-top: auto;
  margin-bottom: 48px;
  padding: 16px 0; 
  width: 100%; 
  box-sizing: border-box;
  display: block;
}

.card-ev-title-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 2); 
}

.card-ev-objective-overlay {
  font-weight: 200;
  text-align: left;
  margin-top: 8px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 3); 
}

.card-ev-properties {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px 0;
}


@media screen and (max-width: 1024px) {
  .card-event {
    flex: 1 1 48%; 
    max-width: 48%; 
  }
}

@media screen and (max-width: 768px) {
  .card-event {
    flex: 1 1 100%; 
    max-width: 100%; 
    position: relative; 
  }

  .card-overlay {
    position: static;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    color: rgba(17, 15, 52, 0.9);
  }

  .card-ev-objective-overlay,
  .card-ev-section-profile,
  .card-ev-bottom {
    display: none;
  }

  .icon-text-element img[src*="evDateLight"] {
    content: url("../assets/icons/evDate.svg"); 
  }

  .icon-text-element img[src*="locationLight"] {
    content: url("../assets/icons/location.svg"); 
  }


  .card-ev-title-overlay, 
  .card-ev-properties {
    width: 100%;
  }

  .card-ev-content-overlay {
    padding: 0;
    margin-top: 16px;
  }

  .card-ev-properties {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center; 
    gap: 16px; 
    width: 100%; 
  }

  .icon-text-element {
    display: flex;
    align-items: center; 
    gap: 4px; 
  }

  .card-ev-section-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
    z-index: 3; 
  }

  .button-small-yellow {
    position: absolute;
    bottom: 124px; 
    right: 16px; 
    z-index: 3;  
    background-color: #ffc107;
  }

  .card-event-image {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    position: relative;
  }

  .card-event-content {
    position: relative;
  }
}

.card-event-small{
  background-color: var(--neutral-grey-light);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}