.empty-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(3 * 300px + 2 * 16px); /* Ancho de 3 cards + gaps */
  height: 300px; /* Alto equivalente a una card */
  background-color: var(--neutral-grey-light);
  border-radius: 10px;
}

.empty-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.add-project-container,
.add-event-container {
  display: block; /* Asegura que ocupe todo el ancho de su contenedor */
  margin-top: 24px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  text-align: center; /* Alinea el botón en el centro */
}

.card-profile{
  border-radius: 25px;
  background-color: #110F34;
  color: #F8F9FC;
  display: flex;
  align-items: center;
  height: 375px;
  margin-top: 32px;
}

.profile-picture{
  border-radius: 50%;
  padding: 40px;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.profile-info p{
  margin-bottom: 10px;
}

.infoButton button{
  margin-bottom: 10px;
  margin-right: auto;
}

.tag-skills {
  display: inline-block;
  font-size: 14px;
  padding: 4px 16px;
  background-color: var(--neutral-grey-light);
  border-radius: 25px;
  max-width: 250px;
  width: auto;
  text-align: center;
  color: #110F34;
  margin:4px;
}

.tabs{
  margin-bottom: px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .card-profile {
    display: block; /* Cambiar a block para que los elementos se apilen */
    text-align: center; /* Centrar el contenido */
    height: auto; /* Ajustar la altura automáticamente */
  }

  .profile-picture {
    width: 200px; /* Reducir el tamaño de la imagen */
    height: 200px;
    object-fit: cover;
    padding: 20px; /* Ajustar el padding para que la imagen no sea demasiado grande */
    margin: 0 auto; /* Asegurar que la imagen esté centrada */
  }

  .profile-info {
    margin-top: 20px; /* Añadir espacio entre la imagen y la info */
  }

  .tag-skills {
    max-width: 100%; /* Ajustar las habilidades para que ocupen el ancho completo */
  }
}

/* Media query para pantallas de tablet (entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-profile {
    display: flex; /* Mantener el diseño en filas */
    flex-direction: column; /* Colocar imagen y texto uno encima del otro */
    align-items: center; /* Centrar los elementos verticalmente */
    height: auto;
  }

  .profile-picture {
    width: 250px; /* Reducir un poco el tamaño de la imagen para tablets */
    height: 250px;
    object-fit: cover;
    padding: 30px;
  }

  .profile-info {
    margin-top: 15px;
    text-align: center; /* Asegurar que el texto esté centrado en tablets */
  }

  .tag-skills {
    max-width: 100%; /* Hacer que las habilidades ocupen todo el ancho en tablets */
  }

  .infoButton {
    padding-top: 15px; /* Ajustar el espaciado del botón */
  }
}
