.empty-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(3 * 300px + 2 * 16px); /* Ancho de 3 cards + gaps */
  height: 300px; /* Alto equivalente a una card */
  background-color: var(--neutral-grey-light);
  border-radius: 10px;
}

.empty-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.add-project-container,
.add-event-container {
  display: block; /* Asegura que ocupe todo el ancho de su contenedor */
  margin-top: 24px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  text-align: center; /* Alinea el botón en el centro */
}

.card-profile{
  border: solid black 5px;
  border-radius: 25px;
  background-color: #110F34;
  color: #F8F9FC;
  display: flex;
  align-items: center;
  height: 375px;
}

.profile-picture{
  border-radius: 50%;
  padding: 40px;
  width: 350px;
}

.profile-info p{
  margin-bottom: 10px;
 
}

.infoButton button{
  margin-bottom: 10px;
  
}


.tag-skills {
  display: inline-block;
  font-size: 14px;
  padding: 4px 16px;
  background-color: var(--neutral-grey-light);
  border-radius: 25px;
  max-width: 250px;
  width: auto;
  text-align: center;
  color: #110F34;
  margin:4px;
}
