.project-img {
  margin-top: 64px;
  height: 375px;
  border-radius: 20px;
  object-fit: cover;
}

.details-project-main {
  display: flex;
  gap: 64px;
  width: 100%;
}

.pr-details-left {
  flex-grow: 3;  
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start; 
}

.pr-details-right {
  flex-grow: 1; 
  flex-basis: 25%;  
}

.main-objective {
  font-size: 20px;
  font-weight: 300;
}

.tag-xl {
  display: inline-block;
  font-size: 14px;
  padding: 4px 16px;
  background-color: var(--neutral-grey-light);
  border-radius: 25px;
  max-width: 250px;
  width: auto;
  text-align: center;
}

.description {
  font-size: 18px;
}

.apply-button {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  background-color: var(--primary-blue-mid);
  color: var(--neutral-white);
  border: none;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
  align-items: center;
  z-index: 10;
}

.apply-button p{
  font-weight: 500;
}

.apply-button:hover {
  background-color: var(--primary-blue-light);
  cursor: pointer;
}

.apply-button:disabled{
  background-color: #f0f0f0;
  color: #b0b0b0;
}

.button-container {
  display: flex;
  justify-content: flex-start; 
  margin-left: 0;
}

.project-people {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.owner-container {
  flex-basis: 25%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  
}

.collaborators-container {
  flex-basis: 75%; 
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
}

.collaborator-card {
  flex-basis: calc(33.33% - 16px); 
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .owner-container, .collaborator-card {
    flex-basis: 100%;
  }
}