.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  border: none;
  border-bottom: 2px solid var(--neutral-grey-light); 
  box-sizing: border-box;
  background-color: var(--neutral-white);
}

.navbar-content{
  display: flex;
  box-sizing: border-box; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  gap: 24px;
  padding: 0 16px; 
}

.navbar-private{
  display: flex;
  gap: 24px;
}
