.title-talents {
  color: var(--neutral-white);
  font-size: 32px;
  padding: 32px;
  margin-bottom: 16px;
  font-weight: 500;
}
.section-talent-container {
  background-color: var(--primary-blue-mid);
  height: 360px;
  border-radius: 25px;
  margin-top: 48px;
}


.slider {
  overflow: hidden;
  width: 100%; 
  position: relative;
}


.slider-track {
  display: flex;
  gap: 20px; 
  flex-wrap: nowrap; 
  animation: scroll 10s linear infinite; 
  
}


.card-user-slider {
  min-width: 400px;
  width: 400px; 
  color: var(--neutral-white);
  background-color: var(
    --primary-blue-dark
  ); 
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.card-user-image-slider {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}


.card-user-username-slider {
  font-size: 24px;
  font-weight: 500;
  color: var(--accent-yellow);
}

.card-user-top-slider {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%; 
}


.card-user-bio-slider {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  display: box; 
  -webkit-line-clamp: 4; 
  line-clamp: 4; 
  -webkit-box-orient: vertical; 
  line-height: 1.2em; 
  max-height: calc(1.2em * 4); 
  white-space: normal; 
  word-wrap: break-word; 
}


@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%);
  }
}


@media screen and (max-width: 768px) {
  .slider-track {
    gap: 10px; 
  }

  .card-user-slider {
    width: 280px; 
  }

  .card-user-username-slider {
    font-size: 20px;
  }

  .card-user-bio-slider {
    font-size: 14px;
  }

  .card-user-image-slider {
    width: 80px;
    height: 80px;
  }
}
