@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*LeafLet*/
@import url('https://unpkg.com/leaflet/dist/leaflet.css');

:root {
  --primary-blue-extra-light: #c4c9d6;
  --primary-blue-light: #413f5d;
  --primary-blue-mid: #110f34;
  --primary-blue-dark: #0a091f;
  --accent-yellow: #ffbe1a;
  --accent-yellow-light: #ffd25f;
  --neutral-grey-dark: #959494;
  --neutral-grey-light: #e2e5ec;
  --neutral-grey-extralight: #eeeff4;
  --neutral-white: #f8f9fc;
  --font-main: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--primary-blue-mid);
  background-color: var(--neutral-white);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Common elements----------------------------------------------------------*/
/* CSS para el mapa */
.leaflet-container {
  height: 500px; /* Ajusta la altura como desees */
  width: 100%; /* Ocupa todo el ancho disponible */
}

header {
  margin: 32px 0;
}

.icon-text-element {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon-text-element p {
  display: flex;
  gap: 4px;
}




/*Contenedor genérico de la página*/
.container-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Estructura específica del contenido */
.container-main-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin-bottom: 96px;
  min-height: 100vh;
}



.tabs {
  display: flex;
  gap: 16px;
}

.tabs p {
  cursor: pointer;
}

.active-tab {
  font-weight: bold;
  text-decoration: underline;
}

.card-profile-img {
  height: 24px;
  width: 24px;
  object-fit: cover;
  border-radius: 100px;
}

.hr-thin-light {
  border: none;
  border-top: 0.5px solid var(--neutral-grey-light);
  margin: 16px 0;
}

.hr-thin-blue{
  border: none;
  border-top: 0.5px solid var(--primary-blue-extra-light);
  margin: 16px 0;
}


.hr-thin-light-yellow {
  border: none;
  border-top: 0.5px solid var(--accent-yellow);
  width: 100%; /* El <hr> ocupa todo el ancho del contenedor */
  margin: 0; /* Elimina márgenes adicionales */
  box-sizing: border-box; /* Para que el ancho respete los márgenes y el padding */
  margin-top: 16px;
}



/*Lists---------------------------------------------------------*/

.project-list, .event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 64px;
  max-width: 1440px;
  margin-top: 32px;
  margin-bottom: 64px;
  padding: 0px;
}


.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  max-width: 1440px; /* Limitar el ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenido */
  margin-top: 32px;
  padding: 0px;
  justify-content: flex-start; /* Alinear las tarjetas desde el inicio */
}
/*Buttons----------------------------------------------------------------*/
.button-large-yellow {
  display: block; /* Asegura que se comporte como un bloque */
  margin: 0 auto; /* Centra horizontalmente el botón */
  padding: 12px 16px;
  background-color: var(--accent-yellow);
  border: none;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: flex;
  align-items: center;
}

.button-large-yellow:hover {
  background-color: var(--accent-yellow-light);
  cursor: pointer;
}

.button-large-yellow p, .button-large-blue p{
  font-weight: 500;
}

.button-large-blue {
  display: block; /* Asegura que se comporte como un bloque */
  margin: 0 auto; /* Centra horizontalmente el botón */
  padding: 12px 16px;
  background-color: var(--primary-blue-mid);
  color: var(--neutral-white);
  border: none;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: flex;
  align-items: center;
  z-index: 10;
}

.button-large-grey {
  display: block; /* Asegura que se comporte como un bloque */
  margin: 0 auto; /* Centra horizontalmente el botón */
  padding: 12px 16px;
  background-color: var(--neutral-grey-dark);
  color: var(--neutral-white);
  border: none;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: flex;
  align-items: center;
}

.button-large-grey:hover {
  background-color: #b4b2b2;
}

.button-small-blue {
  background-color: var(--primary-blue-mid);
  color: var(--neutral-white);
  font-size: 14px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.button-small-blue:disabled {
  background-color: #f0f0f0;
  color: #b0b0b0;
}

.button-small-blue:disabled:hover {
  background-color: #f0f0f0;
  color: #b0b0b0;
}

.button-small-blue:hover,
.button-large-blue:hover {
  background-color: var(--primary-blue-light);
  cursor: pointer;
}


/* Controles de paginación */
.pagination-controls {
  display: flex;
  justify-content: center; /* Centra los botones de paginación */
  margin-top: 20px; /* Espacio adicional sobre los botones de paginación */
  width: 100%;
}

.pagination-controls button {
  margin: 0 16px;
  padding: 4px 0;
  min-width: 32px;
  height: 32px;
  background-color: var(--neutral-grey-dark);
  color: var(--neutral-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14;
  font-weight: 600;
}



.pagination-controls button:disabled {
  background-color: #f0f0f0;
  color: #b0b0b0;
}

.pagination-controls span {
  font-size: 12px;
  color: var(--primary-blue-mid)
}

.custom-pagination{
  margin-top: 96px;
}

/* Contenedores generales */
.search-container, .filter-container {
  flex: 1 1 48%; /* Ambos contenedores ocuparán el 48% del ancho en pantallas grandes */
  min-width: 25%; /* Ambos inputs deben tener un ancho mínimo del 25% */
}

/* Contenedor de la barra de búsqueda */
.searchBar {
  position: relative; /* Posicionamiento relativo para la lupa */
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

/* Input de búsqueda */
.searchBar input {
  width: 100%; /* El input ocupa todo el ancho disponible dentro del contenedor */
  padding: 10px 40px 10px 16px; /* Padding para que el icono no se superponga con el texto */
  font-size: 14px;
  box-sizing: border-box; /* Asegura que el padding no añada más ancho */
}

/* Icono de lupa dentro del input */
.search-icon {
  position: absolute;
  right: 16px; /* Posiciona la lupa a la derecha dentro del input */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el icono dentro del input */
  height: 20px;
  width: 20px;
}

/* Estilo del select de filtro */
.filter-container select {
  width: 100%; /* El select ocupa todo el ancho del contenedor */
  padding: 10px 16px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Flexbox para la distribución de los contenedores */
.filter-group {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva fila si no caben */
  gap: 16px; /* Espacio entre los inputs */
  margin-bottom: 32px;
}

/* Clase específica para ajustar el ancho de la barra de búsqueda en AllUsers */
.half-width-search {
  width: 49%; /* Ajusta el ancho al 50% */

}

.half-width-search .searchBar {
  width: 100%; /* Asegura que el input dentro del contenedor ocupe el 100% del contenedor */
}

/* Estilos globales que se mantienen */
.search-container, .filter-container {
  flex: 1 1 48%; /* Otros contenedores seguirán comportándose igual */
  min-width: 25%; /* Ancho mínimo del 25% */
}




.leaflet-container {
  border-radius: 15px; /* Aplica el borde redondeado a todo el contenedor de Leaflet */
  overflow: hidden; /* Evita que el contenido se desborde fuera del contenedor redondeado */
}

@media (min-width: 768px) {
  .filter-group {
    flex-wrap: nowrap; /* Mantén los elementos en fila en pantallas grandes */
  }
}

@media (max-width: 768px) {
  .filter-group {
    flex-wrap: wrap; /* Permite que los inputs se muevan a una nueva fila en pantallas pequeñas */
  }

  .filter-group .filter {
    flex: 1 1 100%; /* En pantallas pequeñas, los inputs ocupan el 100% del ancho */
  }

  body {
    font-size: 14px; /* Tamaño de fuente en pantallas móviles */
  }
}



